source https://api.nuget.org/v3/index.json

storage: symlink
nuget AspNet.Security.OAuth.Discord
nuget Falco
nuget FsToolkit.ErrorHandling.TaskResult
nuget Microsoft.AspNetCore.Authentication.Google
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget mongocsharpdriver
nuget MongoDB.FSharp
nuget NamelessInteractive.FSharp.MongoDB
nuget Thoth.Json.Net